html, body {
	display: block;
	width: 100%;
}

html {
	padding: 0px;
	margin: 0px;
	background-color: #2A2A2A;
	overflow-y: scroll;
	height: 100%;
}

body {
	background-color: #333333;
	color: #EDEDED;
	font-family: Roboto, Verdana, Arial, Sans-Serif;
	padding: 0px;
	cursor: default;
	width: 100%;
	max-width: 900px;
	min-height: 100%;
	margin: 0 auto;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

a, a:visited {
	color: #E31832;
}

a:hover {
	color: #EB4358;
}

a.notoption {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-size: 25px;
	margin: 0px 3px;
}

.awesome {
	font-family: FontAwesome;
}

header {
	display: block;
	height: 56px;
	background-color: #B5131B;
	color: #EDEDED;
	overflow: hidden;
	white-space: nowrap;
	padding: 0px 8px;
}

header #pagetitle {
	display: inline-block;
	max-width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0px 8px;
	margin: 0px;
	line-height: 56px;
	font-size: 18px;
	font-weight: normal;
}

header #pageoptions {
	float: right;
	line-height: 56px;
	font-size: 28px;
	height: 56px;
}

header #pageoptions > * {
	display: inline-block;
	width: 56px;
	height: 56px;
	cursor: pointer;
	text-align: center;
	transition: 0.15s;
	text-shadow: 0px 0px 0px #FFFFFF;
}

header #pageoptions > *:hover {
	color: #FFFFFF;
	text-shadow: 0px 0px 2px #FFFFFF;
	transition: 0.05s;
}

#content {
	padding: 16px 8px;
}

#content.extrapadding {
    padding-left: 32px;
    padding-right: 32px;
}

#content.nopadding {
	padding: 0px 0px !important;
}

.action {
	display: table;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

.inneraction {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.actioncontent {
	display: inline-block;
	background: #555555;
	box-shadow: 0px 0px 12px 1px #1A1A1A;
	border-radius: 5px;
	padding: 16px;
	position: relative;
	width: 55%;
	max-width: 600px;
	min-width: 320px;
	max-height: 90%;
	overflow-x: hidden;
	overflow-y: auto;
}

.actioncontent::-webkit-scrollbar {
	width: 14px;
	height: 14px;
	background-color: rgba(0,0,0,0);
	-webkit-border-radius: 100px;
}

.actioncontent::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}
 
.actioncontent::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0.5);
	-webkit-border-radius: 100px;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	min-height: 16px;
	transition: 0.1s;
}

.actioncontent::-webkit-scrollbar-thumb:active {
	background: rgba(255,255,255,0.7);
	-webkit-border-radius: 100px;
}


.actionheader {
	display: block;
	background: #B5131B;
	color: #EDEDED;
	text-align: center;
	padding: 8px 52px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	height: 18px;
	margin: -16px;
	margin-bottom: 8px;
	border-bottom: solid 2px #870E1E;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.actionclose {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 36px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #EDEDED;
	cursor: pointer;
	border-bottom: solid 2px rgba(0,0,0,0);
	transition: 0.15s;
}

.actionclose:hover {
	background: #F44F13;
	color: #EDEDED;
	border-top-right-radius: 5px;
	border-bottom: solid 2px #CC3904;
	transition: 0.05s;
}

#qr-preview {
    width: 100%;
    max-height: 400px;
}

.actiontable {
	width: 100%;
}

.actiontable th {
	vertical-align: top;
	font-weight: bold;
	text-align: left;
	padding: 4px 8px;
	font-size: 15px;
	line-height: 34px;
	width: 150px;
}

.actiontable th.withpadding {
	padding: 4px 8px;
	line-height: initial;
}

.actiontable td {
	vertical-align: top;
	font-weight: normal;
	text-align: left;
	line-height: 34px;
}

.actiontable td.withpadding {
	padding: 4px 8px;
	line-height: initial;
}

.actiontable td.nolh {
	padding: 11px 0px;
	line-height: initial;
}

.actionbuttons {
	display: block;
	margin: -16px;
	margin-top: 8px;
	text-align: right;
	padding: 16px;
}

.actionbuttons .button, button {
	display: inline-block;
	padding: 8px 16px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background: #B5131B;
	color: #EDEDED;
	font-size: 15px;
	transition: 0.15s;
	outline: 0;
}

.actionbuttons .button.extra, button.extra {
	background: #777777;
}

.actionbuttons .button:hover, button:hover {
	background: #E31832;
	transition: 0.05s;
}

.actionbuttons .button.extra:hover, button.extra:hover {
	background: #888888;
}

input[type=text], input[type=file], input[type=date], input[type=number] {
	display: block;
	padding: 4px;
	margin: 0px;
	height: 32px;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: robotolight, Roboto, roboto, Arial, sans-serif;
	border: solid #333333 1px;
	border-radius: 3px;
	background-color: #333333;
	color: #EDEDED;
	caret-color: #EDEDED;
	text-align: left;
	cursor: text;
	transition: 0.15s;
}

input[type=file] {
	cursor: default;
	height: initial;
	min-height: 32px;
	color: #999999;
}

input[type=text]:focus, input[type=text]:hover,
input[type=file]:focus, input[type=file]:hover,
input[type=number]:focus, input[type=number]:hover,
input[type=date]:focus, input[type=date]:hover {
	outline: 0;
	background-color: #444444;
	transition: 0.05s;
}

input[type=radio], label {
	vertical-align: middle;
}

textarea {
	display: block;
	padding: 7px 4px;
	margin: 0px;
	min-height: 124px;
	max-height: 394px;
	resize: vertical;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: robotolight, Roboto, roboto, Arial, sans-serif;
	border: solid #333333 1px;
	border-radius: 3px;
	background-color: #333333;
	color: #EDEDED;
	caret-color: #EDEDED;
	text-align: left;
	cursor: text;
	transition: 0.15s;
}

textarea:focus, textarea:hover {
	outline: 0;
	background-color: #444444;
	transition: 0.05s;
}

input[disabled], textarea[disabled] {
	cursor: not-allowed;
	background-color: #444444;
	color: #999999;
}

select {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	width: 100%;
	max-width: 100% !important;
	height: 32px;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: default;
	background-color: #333333;
	color: #EDEDED;
	font-family: robotolight, Roboto, roboto, Arial, sans-serif;
	font-size: 14px;
	border: solid #333333 1px;
	border-radius: 3px;
	transition: 0.15s;
	outline: 0;
}

select:focus, select:hover {
	background-color: #444444;
	transition: 0.05s;
}

select:active {
	background-color: #555555;
	outline: 0 !important;
	transition: 0.05s;
}

input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
	background: #333333;
	width: 15px;
	height: 15px;
	transition: 0.15s;
	outline: 0;
}

input[type=checkbox]:hover, input[type=checkbox]:active {
	background: #444444;
	transition: 0.05s;
	border-color: #07deff;
	outline: #07deff;
}

label {
	display: inline-block;
	vertical-align: middle;
}

.schedule {
	width: 100%;
	background: rgba(255,255,255,0.1);
	user-select: none;
}

.schedule th, .schedule td {
	padding: 4px 6px;
}

.week-name {
	text-align: center;
	font-size: smaller;
	white-space: nowrap;
}

.week-changer {
	font-size: smaller;
	white-space: nowrap;
}

.week-changer.prev {
	text-align: left;
}

.week-changer.next {
	text-align: right;
}

.week-changer a {
	cursor: pointer;
	text-decoration: none;
}

.week-changer a * {
	vertical-align: middle;
}

.day, .hour, .week-name, .week-changer {
	background: rgba(0,0,0,0.5);
}

.day {
	text-align: center;
}

.dayname {
	display: block;
}

.daydate {
	display: block;
	white-space: nowrap;
}

.hour {
	text-align: right;
	width: 28px;
	padding-right: 10px !important;
}

.hour.break, .lesson.break {
	height: 12px;
}

.lesson:not(.break) {
	background: rgba(255,255,255,0.1);
	height: 48px;
	width: 19%;
	padding: 0px;
	vertical-align: top;
}

.reservation {
	position: relative;
	background: #DEDEDE;
	border: solid 1px #9E9E9E;
	border-radius: 2px;
	color: #1A1A1A;
	font-size: 12px;
	margin: 4px;
	padding: 3px 6px;
	min-height: 44px;
}

.reservation .reservation-cancel {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;

	cursor: not-allowed;
	color: #1A1A1A !important;
	text-decoration: none;
	pointer-events: none;
	opacity: 0;
	transition: 0.15s;
}

.reservation.cancellable .reservation-cancel {
	cursor: pointer;
	color: #E31832 !important;
}

.reservation.cancellable .reservation-cancel:hover {
	color: #EB4358 !important;
}

.reservation.cancellable:hover .reservation-cancel {
	opacity: 1;
	pointer-events: all;
	transition: 0.05s;
}

.reservation.cancelled {
	background: #DE8E8E;
	border-color: #9E4E4E;
	text-decoration: line-through;
}

.reservation.add-btn {
	display: block;
	background: rgba(255,255,255,0.1);
	border-color: rgba(0,0,0,0.2);
	color: #ffffff;
	cursor: pointer;
	transition: 0.15s;
	text-align: center;
	height: 0px;
	min-height: initial;
	line-height: 14px;
	font-size: 24px;
	padding: 0px 6px;
	margin: 0px 4px;
	opacity: 0;
	pointer-events: none;
}

.reservation.add-btn:hover {
	background: rgba(255,255,255,0.3);
	transition: 0.05s;
}

.lesson:hover .reservation.add-btn {
	opacity: 1;
	height: initial;
	padding: 12px 6px;
	margin: 4px 4px;
	transition: 0.05s;
	pointer-events: initial;
}

#spinner {
	display: inline-block;
	width: 60px;
	height: 60px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	border: 7px solid rgba(0,0,0,0);
	border-top: 7px solid;
	border-top-color: #B5131B;
	transition: border-top-color 1s;
	border-radius: 30px;
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #999999;
}
:-moz-placeholder { /* Firefox 18- */
	color: #999999;
}

::-moz-selection {
	color: #FFFFFF;
	background-color: rgba(181, 19, 27, 0.99);
	text-shadow: none;
}

::selection {
	color: #FFFFFF;
	background-color: rgba(181, 19, 27, 0.99);
	text-shadow: none;
}

@media screen and (max-width: 850px) {
	.extra-info {
		display: none;
	}

	.week-changer a {
		display: inline-block;
		padding: 8px 4px;
	}
}

@media screen and (max-width: 650px) {
	.actiontable th {
		width: 80px;
	}

	.week-changer a {
		display: inline-block;
		padding: 12px 4px;
	}

	.reservation .reservation-cancel {
		width: 26px;
		height: 26px;
		line-height: 26px;
		top: 4px;
		right: 4px;
		font-size: larger;
		background: rgba(0,0,0,0.1);
		border-radius: 4px;
		opacity: 0.4;
	}
}